.x-gallery > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.x-gallery > p > img {
    flex-grow: 0;
    flex-shrink: 0;
}

.x-gallery a {
    /* remove underline */
    text-decoration: none;
    background: none !important;
    display: block;
    width: fit-content;
}