<% if (is_post()) { %>
<div>
    <ul class="post-copyright">
        <li class="post-copyright-author">
            <strong>本文作者： </strong><%= config.author || config.title %></li>
        <li class="post-copyright-link">
            <strong>本文链接：</strong> <a href="<%= url %>" title="<%= post.title %>"><%= url %></a></li>
        <li class="post-copyright-license">
            <strong>版权声明： </strong>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="noopener" target="_blank"> ©BY-NC-SA</a> 许可协议。转载请注明出处！</li>
    </ul>
</div>
<% } %>